<% provide(:title, 'Words') %>
<h1 class="text-center">Administrate Words</h1>
<div class="container">
    <div class="pagination justify-content-center mt-4">
        <%= will_paginate %>
    </div> 
    <div class="row">
        <div class="col-6">
            <h2><%= @category.title %></h2>
            <h5><%= @category.description %></h5>
        </div>
        <div class="col-6">
            <%= link_to "Create New Word", new_admin_category_word_path, class: "btn btn-warning mx-auto my-4 btn-block btn-cat" %> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <% if @words.any?%>    
                <table class="table">
                    <thead class="text-center">
                        <tr>           
                            <th scope="col">Words</th>
                            <th scope="col">Answer</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @words.each do |word| %>                    
                            <tr>
                                <td><%= word.content %></td>
                                <td><%= word.correct_answer %></td>
                                <td class="text-center">
                                    <%= link_to "Edit", edit_admin_category_word_path(@category, word), class: "btn btn-warning btn-word mr-1" %>
                                    <%= link_to "Delete", admin_category_word_path(@category, word), method: :delete, class: "btn btn-outline-danger btn-word", data: { confirm: "Are you sure to delete the word?" }%>
                                </td>
                            </tr>
                        <% end %>                    
                    </tbody>
                </table>
            <% else %>
                <h3 class="text-center">No Available Words</h3>
            <% end%>
        </div>
    </div>
    <div class="pagination justify-content-center mt-2">
        <%= will_paginate %>
    </div> 
    <%= link_to "Back to Categories Page", admin_categories_path, class: "btn btn-outline-secondary btn-block btn-cat my-4 mx-auto" %>
</div>