<% provide(:title, current_user.name) %>
<div class="container pt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    User Information
                </div>
                <div class="card-body p-4 text-center">
                    <%= user_avatar(current_user, "user-profile") %><br>
                    <h5 class="card-title mt-3"><%= current_user.name %></h1>
                    <p class="card-text"><%= current_user.email %><p>                
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="stats mt-3">
                                <div class="following-number">
                                    <strong id="following" class="stat">
                                        <%= current_user.followed_users.count %>
                                    </strong><br>
                                    following
                                </div>
                                <div class="follower-number">
                                    <strong id="followers" class="stat">
                                        <%= current_user.followers.count %>
                                    </strong><br>
                                    followers
                                </div>                     
                            </div>
                        </li>
                        <li class="list-group-item">
                            <%= link_to current_user.answers.count, words_path, class: "link-txt font-weight-bold" %><br>
                            words learned
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Activity Feed
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nothing to show</h1>     
                </div>
            </div>        
        </div>
    </div>
</div>