<% provide(:title, @user.name) %>
<div class="container pt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    User Information
                </div>
                <div class="card-body p-4 text-center">
                    <%= user_avatar(@user, "user-profile") %><br>
                    <h5 class="card-title mt-3"><%= @user.name %></h1>
                    <p class="card-text"><%= @user.email %><p>
                    <%= render 'follow_form' %>
                    <% @user ||= current_user %>
                    <div class="stats mt-3">
                        <strong id="following" class="stat">
                            <%= @user.followed_users.count %>
                        </strong>
                        following        
                        <strong id="followers" class="stat">
                            <%= @user.followers.count %>
                        </strong>
                        followers                     
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Activity Feed
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nothing to show</h1>     
                </div>
            </div>        
        </div>
    </div>
</div>