<% provide(:title, 'Lesson') %>
<div class="container mt-4 text-center">
    <h1><%= @category.title %></h1>
    <h5>Select your answer.</h5>
    <h6 class="mt-3"><%= @lesson.words.count + 1%> of <%= @category.words.count %></h6>
    
    <div class="row">
        <div class="col-9 mx-auto mt-4">
            <div class="card">
                <div class="card-header">
                    <%= @lesson.next_word.content %>
                </div>
                <div class="card-body ">
                    <% @lesson.next_word.choices.each do |choice| %>
                        <%= form_for([@lesson, @answer]) do |f| %>
                            <%= f.hidden_field :word_id, value: choice.word_id %>
                            <%= f.hidden_field :choice_id, value: choice.id %>
                            <%= f.submit choice.content, class:"btn btn-info mx-3 my-4 btn-lesson" %>
                        <% end %>
                    <% end%>
                </div>
            </div>
        </div>
    </div>
</div>