<% provide(:title, 'Words') %>
<div class="container">
    <h1 class="text-center">Words Learned</h1>
    <h5 class="text-center">This is your entire result!</h5>
    <div class="row">
        <div class="col-10 mx-auto mt-4">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Your Answer</th>
                        <th scope="col">Correct Answer</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @answers.each do |answer| %>
                        <tr>
                            <td><%= answer.word.content %></td>
                            <td><%= answer.choice.content %></td>
                            <td><%= answer.word.correct_answer %></td>
                            <td>
                                <% if answer.choice.correct %> 
                                    <img src="/assets/correct.png" alt="correct" class="img-answer">
                                <% else %>
                                    <img src="/assets/wrong.png" alt="wrong" class="img-answer">
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="pagination justify-content-center mt-4">
                <%= will_paginate @answers %>
            </div> 
        </div>
        <%= link_to "Back to Home", root_path, class: "btn btn-outline-secondary btn-back" %>
    </div>
</div>