<% provide(:title, 'Categories') %>
<h1 class="text-center">All Categories</h1>
<%= link_to "Create New Category", new_admin_category_path, class: "btn btn-primary mx-auto my-4 btn-block btn-cat" %> 
<div class="container">
    <div class="pagination justify-content-center mt-2">
        <%= will_paginate %>
    </div> 
    <div class="row">
        <div class="col-12 mx-auto">    
            <table class="table">
                <thead class="text-center">
                    <tr>           
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |category| %>                    
                        <tr>
                            <td><%= category.title %></td>
                            <td><%= category.description %></td>
                            <td class="text-center">
                                <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-outline-success btn-block" %>
                                <%= link_to "Delete", admin_category_path(category), method: :delete, class: "btn btn-danger btn-block", data: { confirm: "Are you sure to delete the category?" }%>
                            </td>
                        </tr>
                    <% end %>                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination justify-content-center mt-2">
        <%= will_paginate %>
    </div> 
    <%= link_to "Back to Admin Page", admin_home_path, class: "btn btn-outline-secondary btn-block btn-cat my-4 mx-auto" %>
</div>