<% provide(:title, 'Categories') %>
<h1 class="text-center">Categories</h1>
<div class="text-center my-4">
    <%= link_to "All", "#", class: "btn btn-primary btn-cat-top" %> 
    <%= link_to "Learned", "#", class: "btn btn-primary btn-cat-top" %> 
    <%= link_to "Not yet", "#", class: "btn btn-primary btn-cat-top" %> 
</div>
<div class="container">
    <div class="pagination justify-content-center">
        <%= will_paginate %>
    </div> 
    <div class="row">
        <% @categories.each do |category| %>        
            <div class="col-6">
                <div class="card m-2">
                    <div class="card-header">
                        <h5 class="text-left con-left"><%= category.title %></h5>
                        <h6 class="text-right"><%= pluralize(category.words.count, "Word") %></h6>
                    </div>
                    <div class="card-body">
                        <p class="con-left"><%= category.description %></p>
                        <% lesson = current_user.lesson_taken(category.id) %>
                        <% if lesson.nil? %>
                            <%= link_to "Start Lesson", lessons_path(category_id: category.id), method: :post, class: "btn btn-outline-success float-right" %>
                        <% else %>
                            <%= link_to "Show Result", "#", class: "btn btn-success float-right" %>
                        <% end%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="pagination justify-content-center my-3">
        <%= will_paginate %>
    </div> 
</div>
